.text-overlay {
  position: absolute; 
  top: 0;
  bottom: 0;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.813) , rgba(255, 255, 255, 0));
  left: 0;
  width: 540px; 
  height: 100%;
  color: #151515f0; 
  display: flex;
  justify-content: center; 
  z-index: 1; 
  border-radius: 0 10px 10px 0; 
  padding-left: 70px
}
.fixed-line-1:before {
  content: "";
  position: absolute;
  top: -10px;
  width: 290px;
  left: 6px;
  padding: 6px;
  border-radius: 8px;
  background: linear-gradient(130deg, #007bff, #0a9dff 41.07%, #80f7ff 76.05%);
  z-index: 999;
}

.text-overlay h2 {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 80px;
  margin: 0;
}
.text-overlay span {
  font-size: 80px;
  font-weight: 400;
  letter-spacing: -0.04em;
  line-height: 80px;
  color: blue;
}

.text-overlay p {
  color: rgb(88, 88, 88);
  font-size: 18px;
  letter-spacing: 0.01em;
}


.started-button {
  position: relative; 
  margin-top: 10px;
}

.started-button button {
  padding: 18px 40px;
  font-size: 16px;
  background-color:#015fc9;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  align-self: flex-start;
  cursor: pointer;
  position: relative; 
  overflow: hidden; 
  z-index: 1; 
}

.started-button button::before {
  content: "";
  position: absolute;
  background: rgb(17, 17, 45);
  width: 100%;
  height: 100%;
  bottom: 0; 
  left: 0;
  transform: translateY(100%); 
  transition: transform 0.4s ease; 
  z-index: -1;
}

.started-button button:hover::before {
  transform: translateY(0); 
}

.started-button button:hover {
  color: white;
}


.top-overlay {
  position: absolute;
  top: -100%;
  width: 100%;
  animation: slideDown 5s ease-in-out infinite;
}


.bottom-overlay {
  position: absolute;
  bottom: -100%;
  width: 100%;
  animation: slideUp 5s ease-in-out infinite;
}

@keyframes slideDown {
  0% {
    top: -100%;
    opacity: 0; /* Fully transparent */
  }
  50% {
    top: 25;
    opacity: 0; /* Fully visible */
  }
  100% {
    top: 20%;
    opacity: 1; /* Fade out */
  }
}

@keyframes slideUp {
  0% {
    bottom: -100%; /* Off-screen */
    opacity: 0;
  }
  50% {
    bottom: 25; /* Animate into position */
    opacity: 0;
  }
  100% {
    bottom: 20%; /* Stay stable */
    opacity: 1; 
  }
}



@media (max-width: 780px) {

  .text-overlay h2 {
    font-size: 50px;
    line-height: 50px;
    margin: 0;
    
  }
  .text-overlay span {

    font-size: 50px;
    line-height: 50px;
    color: blue;
    font-weight: 700;
  }

  section .button-container {
    display: none;
  }
 .text-overlay {
  padding-left: 30px;
      width: 600px; ;
      
  }
  .fixed-line-1:before {
    top: -12px;
    left: 4px;
    width: 220px;
  }

  .bottom-overlay p {
   width: 400px;
   max-width: 100%;
   align-items: center;
  
  }

}

.button-container {
  display: flex;
  position: absolute;
  right: 90px;
  flex-direction: column; /* Align buttons vertically */
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between buttons */
}

.button-container button {
  background: transparent;
  border: 2px solid #63cbdb; /* Outline around buttons */
  padding: 14px;
  color: #63cbdb;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  transition: background 0.3s ease, color 0.3s ease;
}

.button-container button:hover {
  border: 2px solid #35e2fd;
  color: #35e2fd;
}

/* Section 2 - Feature Cards */
.section-2 {
  padding: 50px 20px;
  background-color: #ffffff;
  margin-bottom: 60px;
}

.section-2-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card .count {
  position: absolute;
  -webkit-text-stroke: 1px rgba(96, 96, 96, 0.2);
  color: rgba(255, 255, 255, 0.1);
  top: 20px;
  right: 20px;
  font-size: 4rem;
  font-weight: bold;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 330px; /* Adjust size as needed */
  height: 245px;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Prevent overflow of the blue background */
  align-self: center;
}

.icon-container {
  position: absolute;
  top: 0;
  padding-top: 10px;
  padding-left: 20px;
  left: 0;
  width: 120px; /* Width of the blue curve */
  height: 120px; /* Height of the blue curve */
  background: linear-gradient(135deg, #005eff, #35a8ff); /* Gradient blue */
  border-bottom-right-radius: 100%; /* Creates the curve */
  z-index: 0; /* Ensure it stays below other content */
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-container span {
  width: 50px; /* Size of the icon */
  height: 50px;
  z-index: 0;
  color: white;
  font-size: 60px;
  position: relative; /* Icon stays above the curve */
  right: 25px;
  bottom: 35px;
}

.card:hover {
  transform: translateY(-10px); /* Move upward */
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1); /* Stronger shadow */
  transition: all 0.3s linear;
}

.card::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0; /* Initially hidden */
  background: rgb(20, 20, 57); /* Blue background */
  z-index: 0; /* Place it behind content */
  transition: height 0.6s ease; /* Smooth height transition */
  border-radius: 8px;
}

.card:hover::before {
  height: 100%; /* Expand to cover the card */
}

.inner-text {
  padding-top: 75px;
  padding-left: 30px;
}

.card p {
  position: relative; /* Ensure content stays above the pseudo-element */
  z-index: 0; /* Ensure content stays visible */
  transition: color 0.3s ease; /* Smooth text color transition */
  color: #5a5a5a;
}

.card h3 {
  position: relative; /* Ensure content stays above the pseudo-element */
  font-size: 26px;
  z-index: 0; /* Ensure content stays visible */
  transition: color 0.3s ease;
  margin: 0;
  padding-top: 40px;
}

.card:hover h3 {
  color: white;
}
.card:hover p {
  color: rgb(101, 114, 123);
}

.card:hover .count {
  -webkit-text-stroke: 1px rgba(0, 242, 255, 0.925);
}

/* Section 3 */





@media (max-width: 900px) {
  .section-2-cards {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
  }
  .card {
    position: relative;
    background: #ffffff;
    border: 1px solid #e6e9ee; /* Light border */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    padding: 30px;
    width: 86%;
    height: 250px;
    max-width: 100%;
    text-align: left;
    overflow: hidden; /* Ensure the pseudo-element stays within the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
 
 
  
}

/* section 4*/
.section-4{
  padding-bottom: 100px;

}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px; /* Adds spacing between sections */
  margin: 20px;
 
}

.left,
.right {
  flex: 1; /* Make both sections take equal space */
  min-width: 300px; /* Ensures sections don't shrink too much */
}

.left > div,
.left > p {
  display: flex;
  gap: 10px;
}

.left p {
  font-size: 16px;
  color: black;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 3px;
  margin-top: 0px;
}

.left h2 {

  font-size: 40px;
  line-height: 55px;
  margin: 0;
  
}

.right p {
  font-size: 18px;
  line-height: 30px;
  color: grey;
  
}

@media (max-width: 900px) {
  /* For screens smaller than 768px */
  .container {
    flex-direction: column; 
    align-items: center;
    
    margin: 0;
    /* Stack items vertically */
  }

  .left h2 {
    font-size: 35px;
    line-height: 45px;
  }
}

/* Container Styles */
.fixed-card-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for responsive rows */
  gap: 16px; /* Space between cards */
  justify-content: space-between; /* Space out cards evenly */
  padding: 16px; /* Padding around container */
}

/* Card Styles */
.fixed-card {
  flex-direction: column; /* Default for mobile view */
  width: calc(25% - 16px); /* 4 cards per row with spacing */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fixed-card:hover img {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.fixed-card:hover i {
  transform: scale(1.05);
  color: white;
}
.fixed-card:hover .logo-icon {
  background-color: #189bff;
}

/* Image Section */
.fixed-card-image {
  flex: 1; /* Take half the space */
  overflow: hidden;
  position: relative;
  transition: transform 0.4s ease;
}

.fixed-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  /* Smooth zoom effect */
}

.logo-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  top: -10%;
  left: 77%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #007bff; /* Adjust color to match your theme */
  border-radius: 20%;
  font-size: 30px; /* Adjust icon size */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  z-index: 0;
  height: 40px;
  width: 40px;
  padding: 11px;
  align-items: center;
  transition: transform 0.4s ease, background-color 0.4s ease, color 0.4s ease; /* Smooth transition for scaling and color */
}

/* Content Section */

.fixed-line:before {
  content: "";
  position: absolute;
  top: 15%;
  width: 45px;
  left: 24px;
  height: 4px;
  background: linear-gradient(130deg, #0469ff, #00bfff 41.07%, #12efffa2 76.05%);
  z-index: 999;
}

.fixed-card-content {
  padding-top: 40px;
  padding-bottom: 30px;
  padding-right: 23px;
  padding-left: 23px;
  position: relative;
}

.fixed-card-content h3 {
  margin: 0 0 8px;
  font-size: 20px;
  color: #333;
}

.fixed-card-content p {
  margin: 0;
  color: #666;
  font-size: 14px;
}

.image-overlay {
  position: absolute;
  top: -100%; /* Start above the image */
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.233); /* Semi-transparent black */
  transition: top 0.5s ease;
}

.fixed-card-image:hover .image-overlay {
  top: 0;
}
/* Responsive Design */
@media screen and (max-width: 1100px) {
  .fixed-card {
    width: calc((100% / 3) - 16px); /* 3 cards per row */
  }
}

@media screen and (max-width: 1000px) {
  .fixed-card {
    width: calc((100% / 2) - 16px); /* 2 cards per row for smaller screens */
  }
}

@media screen and (max-width: 768px) {
  .fixed-card {
    width: 100%; /* 1 card per row */
  }

  .fixed-card-content h3,p {
    text-align: start;
  }

  
}
